<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="robotIco.png" type="image/png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <title>MongoDB</title>
    <style>
        .mainBox {
            width: 98%;
            height: 83vh;
            margin-top: 10px;
            margin-bottom: 50px;
            border-radius: 10px;
            border: 1px solid cadetblue;
            margin-inline: auto !important;
            box-shadow: rgba(60,
                    64,
                    67,
                    0.3) 0px 1px 2px 0px,
                rgba(60,
                    64,
                    67,
                    0.15) 0px 1px 3px 1px;
        }

        .grid {
            margin: auto;
            padding: 5px;
            width: 98% !important;
            height: 98% !important;
            display: flex;
            flex-direction: row !important;
            overflow-y: auto;
        }

        input {
            width: 100%;
        }

        table {
            width: 50% !important;
            margin: auto;
        }

        .head {
            text-align: center;
        }

        .size {
            width: 20% !important;
        }
    </style>
</head>

<body>
    <%- include('header') %>
        <div class="mainBox">
            <div class="grid">
                <table>
                    <thead>
                        <tr>
                            <th class="head size">Criteria</th>
                            <th class="head size">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="head size">Name</th>
                            <td class="size"><input class="form-control" type="text" id="name" name="name" placeholder="Enter Movie Name" /></td>
                        </tr>
                        <tr>
                            <th class="head size">IMDb</th>
                            <td class="size"><input class="form-control" type="number" id="imdb" name="imdb" placeholder="Enter IMDb Rating" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Rating</th>
                            <td class="size"><input class="form-control" type="text" id="rating" name="rating" placeholder="Enter Movie Rating" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Year</th>
                            <td class="size"><input class="form-control" type="number" id="year" name="year" placeholder="Enter Release Year" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Origin</th>
                            <td class="size"><input class="form-control" type="text" id="origin" name="origin" placeholder="Enter Origin Country" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Genre</th>
                            <td class="size"><input class="form-control" type="text" id="genre" name="genre" placeholder="Enter Genre" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Director</th>
                            <td class="size"><input class="form-control" type="text" id="director" name="director" placeholder="Enter Director" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Thumbnail</th>
                            <td class="size"><input class="form-control" type="text" id="thumbnail" name="thumbnail" placeholder="Enter Thumbnail Address" /></td>
                        </tr>
                        <tr>
                            <th class="head size">IMDb Thumbnail</th>
                            <td class="size"><input class="form-control" type="text" id="imdbThumb" name="imdbThumb" placeholder="Enter IMDb Thumbnail Address" /></td>
                        </tr>
                        <tr>
                            <th class="head size">Wikipedia</th>
                            <td class="size"><input class="form-control" type="text" id="wikipedia" name="wikipedia" placeholder="Enter Wikipedia Link" /></td>
                        </tr>
                        <tr>
                            <td class="size"></td>
                            <td class="size">
                                <div align="right"><button class="btn btn-primary" onclick="AddMovie()">Add Movie</button></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th class="head size">Field</th>
                            <th class="head size">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="head size">First Name :</td>
                            <td class="size"><input class="form-control" type="text" id="firstName" name="firstName" placeholder="Enter First Name" /></td>
                        </tr>
                        <tr>
                            <td class="head size">Last Name :</td>
                            <td class="size"><input class="form-control" type="text" id="lastName" name="lastName" placeholder="Enter Last Name" /></td>
                        </tr>
                        <tr>
                            <td class="head size">Email ID :</td>
                            <td class="size"><input class="form-control" type="text" id="mailId" name="mailId" placeholder="Enter Email ID" /></td>
                        </tr>
                        <tr>
                            <td class="head size">Password :</td>
                            <td class="size"><input class="form-control" type="text" id="pswrd" name="pswrd" placeholder="Enter Password" /></td>
                        </tr>
                        <tr>
                            <td class="size"></td>
                            <td class="size">
                                <div align="right"><button class="btn btn-primary" onclick="Register()">Register</button></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="head size">User ID :</td>
                            <td class="size"><input class="form-control" type="text" id="userId" name="userId" placeholder="Enter User ID" /></td>
                        </tr>
                        <tr>
                            <td class="head size">Series ID :</td>
                            <td class="size"><input class="form-control" type="text" id="seriesID" name="seriesID" placeholder="Enter Series ID" /></td>
                        </tr>
                        <tr>
                            <td class="head size">Favourite :</td>
                            <td class="size"><select class="form-control" id="favrt" name="favrt">
                                    <option value="">Select</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td class="size"></td>
                            <td class="size">
                                <div align="right"><button class="btn btn-primary" onclick="favourite()">Add/Update</button></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('footer') %>
</body>
<script>
    function AddMovie() {

        var formdata = {
            name: $('#name').val(),
            imdb: $('#imdb').val(),
            rating: $('#rating').val(),
            year: $('#year').val(),
            origin: $('#origin').val(),
            genre: $('#genre').val(),
            director: $('#director').val(),
            thumbnail: $('#thumbnail').val(),
            imdbThumb: $('#imdbThumb').val(),
            wikipedia: $('#wikipedia').val(),
        }

        console.log('Data to be Added :', formdata);

        $.ajax({
            type: 'post',
            url: '/testMongoDB',
            data: formdata,
            datatype: 'json',
            contenttype: 'application/json',
            success: function (response) {
                console.log('Got Response :', response);
                alert("Your Movie Has Been Added! Please check Your MongoDB Compass!");
                window.location.reload();
            },
            error: function () {
                alert("Something gone wrong!");
            }
        })
    }

    async function Register() {
        var formdata = {
            fname: $('#firstName').val(),
            sname: $('#lastName').val(),
            mailId: $('#mailId').val(),
            pswrd: $('#pswrd').val(),
        }
        // console.log('User Data :', formdata);
        $.ajax({
            type: 'post',
            url: '/reg_user',
            data: formdata,
            datatype: 'json',
            contenttype: 'application/json',
            success: function (response) {
                console.log('Got Response :', response, typeof response);
                response = JSON.stringify(response)
                alert(`You has been regiseterd! Your UserID is : ${response} !`);
                window.location.reload();
            }
        })
    }

</script>

</html>